nickname: "Hubbot"
realname: "Hubbot"
username: "Hubbot"
commandchar: "+"

#any modules listed in the nonDefaultModules list will not be auto-loaded on startup
nonDefaultModules: ["ModuleName"]

# Setting moduleOverride to anything other than [] causes the bot to only load those modules on startup
moduleOverride: []

fingerReply: "Yay"
versionNum: "1.0.0"

servers:
    "irc.example.org":
        commandchar: "~"
        port: 6667
        channels: ["#example"]
        
    "irc.butts.org":
        moduleOverride: ["MemoryHeavyModule"]
        port: 6667
