nickname: "Hubbot"
realname: "Hubbot"
username: "Hubbot"
commandchar: "+"


# The default behavior is to load all modules in the Modules folder on startup.
# any modules listed in the nonDefaultModules list will not be auto-loaded on startup
nonDefaultModules: ["ModuleName"]

# Setting modulesToLoad to anything other than ["all"] causes the bot to only load the listed modules on startup
modulesToLoad: ["all"]

fingerReply: "Yay"

servers:
    "irc.example.org":
        commandchar: "~"
        port: 6667
        channels: ["#example"]
        password : "butts"
        
    "irc.butts.org":
        modulesToLoad: ["MemoryHeavyModule"]
        port: 6667
